
<div class="col-lg-12">
    <div class="sidebar-item submit-comment">
        <div class="sidebar-heading">
            <h2>Yorum Yaz</h2>
            @ViewBag.deger
        </div>
        <div class="content">

            <div class="row">
                <form>


                    <textarea type="text" name="Yazi" rows="3" id="yorum" placeholder="Yorumunuz" required=""></textarea>




                    <input type="submit" id="YorumYap" class="main-button">Gönder</input>


                </form>


            </div>

        </div>

    </div>
</div>
