
@{
    ViewBag.Title = "Haptik Teknoloji";
}

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/Content/assets/images/blog-post-02.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <a href="post-details.html"><h4>Haptik Teknoloji</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">Admin</a></li>
                                        <li><a href="#">Mayıs 24, 2020</a></li>
                                        <li><a href="#">0 Yorum</a></li>
                                    </ul>
                                    <p>
                                        Haptik teknolojisi, kullanıcıların dokunarak bilgisayar tabanlı bir uygulama ile etkileşime geçmelerini sağlayan teknolojidir. Yunanca Haptikos (dokunma ile ilgili) sözcüğünden türeyen bu teknoloji 1970'lerde geliştirilmeye başlanmış ve günümüzde oyun, eğlence, tıp, iletişim gibi pek çok alanda kullanılmaktadır.
                                        Haptik teknolojisinin ilk uygulamaları oyun ve eğlence alanında olmuştur. 1970'li yılların ortalarında atari cihazlarında kullanılmış ve oyunların gerçekçiliğini artırdığı için büyük başarı elde etmiştir. Örneğin direksiyonlu bir araba oyununda kaza yaptığınızda koltuğun ve direksiyonun titremesi veya asfalt bir yoldan toprak bir yola geçildiğinde direksiyon hakimiyetinin zorlaşması oyunların daha gerçekçi olmasını sağlamıştır.
                                        <br>Aura Sistemleri 1994 yılında oyunlar için ses dalgaları ile titreşimler oluşturan Aura Etkişimli Yelek adında bir oyun yeleği geliştirmiştir. Elektronik yelek televizyon karşısında oynanan atari oyunlarında çıkan seslere göre titreşimler üretmiş ve oyunların daha gerçekçi ve eğlenceli hale gelmesini sağlamıştır. Etkileşimli yeleğin ambalajında "Yumrukları, tekmeleri, patlamaları, çarpışmaları hisset" sloganı yer almaktadır.
                                    </p>
                                    <p>
                                        Haptik teknolojisi günümüzde hemen hemen tüm cep telefonlarında, dizüstü bilgisayarlarda ve oyun konsollarında kullanılmaktadır. Ayrıca uzaktan ameliyatlarda ve cerrah adaylarının eğitimlerinde gerçekçi bir ortam sağladığı için tercih edilmektedir. Aşağıdaki resimde bir cerrah adayının eğitimini görebilirsiniz. Adaylar kullandıkları kontroller ile gerçek bir operasyondaymış gibi deneme yapabilmektedirler. Kontroller simülasyondaki dokunun yumuşak veya sert olmasına göre kolay veya zor hareket etmekte yani gerçekçi bir eğitim sağlamaktadır.
                                    </p>
                                    <p>Uzmanlar haptik teknolojisinin geleceğinin oldukça parlak olduğunu tahmin etmekte, özellikle sanal gerçeklikte önemli bir alana sahip olması beklenmektedir. Bu teknoloji sayesinde sanal gerçeklik gözlükleri ile görsel olarak gördüğümüz sanal dünyayı, haptik teknolojisi ile hissedebileceğiz. Bunun için özel eldiven ve giysi prototipleri geliştirilmektedir. Örneğin sanal bir dünyada bir topa vurduğumuzda bunu hem 3 boyutlu olarak göreceğiz hem de ayağımızda topun basıncını hissedebileceğiz. Bu alanda şimdiye kadar geliştirilmiş en bilinen ürün TeslaSuit adındaki sanal gerçeklik giysisidir.</p>
                                    <p>
                                        Son yıllarda geliştirilen bir haptik teknolojisi de ses dalgalarını kullarak aslında olmayan nesneleri hissetmemizi sağlayan teknolojidir. Bunun için çok sayıda ultra ses verici duyamadığımız frekanslarda ses dalgaları üretir. Ses dalgaları elimize çarptığında sanki bir nesneye dokunuyormuş gibi bir his oluşur. Bu sayede ses dalgaları ile oluşan nesneyi tutabilir ve bir ayar düğmesiymiş gibi çevirebiliriz. Elimizin hareketleri de bir bilgisayar tarafından algılanarak istenilen işlemler yapılabilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>0 yorum</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Yorum Yaz</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" id="name" placeholder="İsim" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" placeholder="e-posta adresi" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" id="subject" placeholder="Konu">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="message" rows="6" id="message" placeholder="Yorumunuz" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Gönder</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Yeni Gönderiler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="dunyanin-yasini-nasil-biliyoruz.html">
                                                <h5>Dünyanın Yaşını Nasıl Biliyoruz?</h5>
                                                <span>Mayıs 31, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="haptik-teknoloji.html">
                                                <h5>Haptik Taknoloji</h5>
                                                <span>Mayıs 28, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="animasyonlu-saat-tasarimi.html">
                                                <h5>Animasyonlu Saat Tasarımı</h5>
                                                <span>May 14, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Kategoriler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">- Bilim</a></li>
                                        <li><a href="#">- Teknoloji</a></li>
                                        <li><a href="#">- Web-Tasarım</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Etiketler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Yapay Zeka</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Tasarım</a></li>
                                        <li><a href="#">Web</a></li>
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Responsive</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
