
@{
    ViewBag.Title = "Teknoloji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="~/Content/assets/images/blog-thumb-02.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <span>Teknoloji</span>
                                    <a href="haptik-teknoloji.html"><h4>Haptik Teknoloji</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">Admin</a></li>
                                        <li><a href="#">Mayıs 31, 2020</a></li>
                                        <li><a href="#">0 Yorum</a></li>
                                    </ul>
                                    <p>Haptik teknolojisi, kullanıcıların dokunarak bilgisayar tabanlı bir uygulama ile etkileşime geçmelerini sağlayan teknolojidir. Yunanca Haptikos (dokunma ile ilgili) sözcüğünden türeyen bu teknoloji... </p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">Teknoloji</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <ul class="page-numbers">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Yeni Gönderiler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="dunyanin-yasini-nasil-biliyoruz.html">
                                                <h5>Dünyanın Yaşını Nasıl Biliyoruz?</h5>
                                                <span>Mayıs 31, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="haptik-teknoloji.html">
                                                <h5>Haptik Taknoloji</h5>
                                                <span>Mayıs 28, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="animasyonlu-saat-tasarimi.html">
                                                <h5>Animasyonlu Saat Tasarımı</h5>
                                                <span>May 14, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Kategoriler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">- Bilim</a></li>
                                        <li><a href="#">- Teknoloji</a></li>
                                        <li><a href="#">- Web-Tasarım</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Etiketler</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Yapay Zeka</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Tasarım</a></li>
                                        <li><a href="#">Web</a></li>
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Responsive</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
